body {
  font-family: geneva;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  background: #F2F5EB;
  font-family: 75%/125% Arial, Veranda, sans-serif normal;
  background-color: rgb(213, 221, 224);
  display: block;
}

#root {
  margin: 0 auto;
  min-width: 230px;
  max-width: 550px;
  background: #fff;
  box-shadow: -0.25em 0 2.5em 0 rgba(0, 0, 0, 0.1);
  display: block;
}

.todoApp {
  background: #F8F8F8;
  box-sizing: border-box;
  display: block;
  margin-top: 50px;
  padding-bottom: 10px;
}

.todoApp header {
  font-family: Arial, Veranda, 'sans-serif normal';
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 160px;
}

.todoApp section {
  box-sizing: border-box;
  display: block;
}

header h1 {
  width: 100%;
  padding: 0;
  margin: 20px 10px 0px 10px;
  text-align: center;
  color: #8A8080;
  box-sizing: border-box;
  display: block;

  font-family: Arial, Veranda, 'sans-serif normal';
  font-size: 42px;
  line-height: 80px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

header input.newTodo {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
  font-size: 24px;
  outline: none;
  padding: 16px 16px 16px 60px;
  border: none;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  display: block;
}

input.edit {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
  font-size: 24px;
  outline: none;
  padding: 16px 16px 16px 16px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: block;
}

input.todoAdder {
  background: #FFFF00;
}

input.todoCompleted{
  background: #FF0000;
}

input.todoDelete{
  background: #00FF00;
}

input[type="checkbox" i] {
  background: #00FFFF;
  height: 20px;
  margin-top: -20px;
}

section ul {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}

section li {
  font-size: 24px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}


input1[type="checkbox"] {
    display:none;
}
input1[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(checkbox.png) left top no-repeat;
    cursor:pointer;
}
input1[type="checkbox"]:checked + label span {
    background:url(checkbox.png) -19px top no-repeat;
}
